.buy-button {
    background-color: #e71111; /* Green background */
    color: white; /* White text */
    padding: 10px 20px; /* Padding */
    font-size: 16px; /* Font size */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease; /* Smooth transition for background color */
  }
  
  .buy-button:hover {
    background-color: #932108; /* Darker green on hover */
  }
  